<h1>Inbox</h1>

<ul>
	
</ul>

<table class="table table-striped">
  <tbody>
		<% @conversations.each do |c| %>
			<tr>
				<td width='350px'><% c.participations.each { |p| %>
								<%=  p.user.email if p.user != current_user %> 
						<% } %>
					
					</td>
				<td><%= link_to c.messages.last.body, c %></td>
				<td><%= distance_of_time_in_words_to_now c.messages.last.created_at %> ago</td>
			</tr>
		<% end %>
		
	</tbody>
</table>